:root {
  --branding-color: #112e8d;
  --secondary-color: #f0f2fb;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 180px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #040e2f;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.about-section {
  padding: 180px 20px;
}

.about-hero-img {
  border-radius: 10px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 85px;
}

.about-section h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.about-section-content {
  margin: 30px;
}

.btn-branding {
  font-size: 18px;
  color: white;
  background: var(--branding-color);
  border-radius: 4px;
  line-height: 27px;
  padding: 10px 18px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  border-radius: 4px;
  line-height: 27px;
  padding: 10px 18px;
}

.stages-info {
  padding: 80px 50px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .stages-info {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .about-section img {
    justify-content: center;
  }
}
